<div class="main_visual">
    <img src=".../assets/images/IMG_8130.JPG" alt="トップページ画像">
</div>

<div id="wrapper">
    <div id="main">
        <section>
            <h3 class="toppage-content">ベジグルメについて</h3>
             <p>現代では食が豊かになった一方で、糖尿病や高血圧などの生活習慣病が増えています。</p>
             <p>外食・中食では健康的な食事をとれないというイメージがあるかもしれませんが、多くの自治体が食を通じた健康づくりを推進するために、飲食店・惣菜店を「野菜メニュー店」や「健康づくり協力店」として登録する事業を実施しています。</p>
             <p>いつまでも健康で暮らせるようにこのようなお店を利用してみませんか。</p>
             <p>ベジグルメでは近くの野菜メニュー店や健康づくり協力店を探して、行きたいお店を登録できます。</p>
        </section>
        <section>
            <h3 class="toppage-content">お店を探す</h3>
            
            <div class="region">
              <div class="region-name">北海道・東北</div>
                <ul class="list-unstyled">
                  <% @prefectures1.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
              </div>
            <div class="region">
              <div class="region-name">関東</div>
                <ul class="list-unstyled">
                  <% @prefectures2.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
              </div>
            <div class="region">
              <div class="region-name">北陸・甲信越</div>
                <ul class="list-unstyled">
                  <% @prefectures3.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
              </div>
            <div class="region">
              <div class="region-name">中部</div>
                <ul class="list-unstyled">
                  <% @prefectures4.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
              </div>
            <div class="region">
              <div class="region-name">関西</div>
                <ul class="list-unstyled">
                  <% @prefectures5.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
              </div>
            <div class="region">
              <div class="region-name">中国</div>
                <ul class="list-unstyled">
                  <% @prefectures6.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
              </div>
            <div class="region">
              <div class="region-name">四国</div>
                <ul class="list-unstyled">
                  <% @prefectures7.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
              </div>
            <div class="region">
              <div class="region-name">九州・沖縄</div>
                <ul class="list-unstyled">
                  <% @prefectures8.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
              </div>
            
        </section>
     </div>
</div>