
<%= image_tag 'image_6483441.JPG' %>

<div id="wrapper">
    <div id="main">
        <section>
            <h4 class="toppage-content">ベジグルメについて</h4>
            
            <p>現代では食が豊かになった一方で、糖尿病や高血圧などの生活習慣病が増えています。</p>
            <p>外食は高カロリーな食事や味が濃い食事が多く、健康的な食事をとれないというイメージがあるかもしれません。しかし、多くの自治体が食を通じた健康づくりを推進するために、健康に配慮したメニューを提供している飲食店を「健康づくり協力店」や「野菜メニュー店」として登録する事業を実施しています。</p>
            <p>いつまでも健康でいるために、このようなお店を利用してみませんか。</p>
            <p>ベジグルメではあなたの近くのお店を見つけることができます。また、ログインすることで行きたいお店を登録しておけるようになります。</p>
             
            <% unless current_user %>
             <div class="row">
              <div class="col-sm-6">
               <%= link_to "さっそく新規登録する",signup_path,class: "btn-flat-border" %>
              </div>
              <div class="col-sm-6">
               <%= link_to "すでに登録している方はこちら",login_path,class: "btn-flat-border" %>
              </div>
             </div>
            <% end %>
             
        </section>
        <section>
          
            <h4 class="toppage-content">お店を探す</h4>
            
            <div class="region">
              <div class="region-name">北海道・東北</div>
                <ul class="list-unstyled">
                  <% @prefectures1.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
              </div>
            <div class="region">
              <div class="region-name">関東</div>
                <ul class="list-unstyled">
                  <% @prefectures2.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
              </div>
            <div class="region">
              <div class="region-name">北陸・甲信越</div>
                <ul class="list-unstyled">
                  <% @prefectures3.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
              </div>
            <div class="region">
              <div class="region-name">中部</div>
                <ul class="list-unstyled">
                  <% @prefectures4.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
              </div>
            <div class="region">
              <div class="region-name">関西</div>
                <ul class="list-unstyled">
                  <% @prefectures5.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
              </div>
            <div class="region">
              <div class="region-name">中国</div>
                <ul class="list-unstyled">
                  <% @prefectures6.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
              </div>
            <div class="region">
              <div class="region-name">四国</div>
                <ul class="list-unstyled">
                  <% @prefectures7.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
              </div>
            <div class="region">
              <div class="region-name">九州・沖縄</div>
                <ul class="list-unstyled">
                  <% @prefectures8.each do |prefecture| %>
                     <li>
                       <div class="region-element">
                         <%= link_to prefecture.name, prefecture_path(prefecture) %>
                       </div>
        
                     </li>
                  <% end %>
                </ul>
            </div>
        </section>
    </div>
</div>
