
<div>
  <h3 class="toppage-content">市区町村の編集</h3>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

　  <%= form_with(model: @city, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    
    <div class="form-group">
    　  <%= f.label :name, '都道府県' %>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name,include_blank: "選択して下さい" %>
      </div>
    <div class="form-group">
        <%= f.label :name, '市区町村名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    <div class="form-group">
        <%= f.label :explanation,'説明' %>
        <%= f.text_area :explanation, class: 'form-control' %>
      </div>
      　

      <%= f.submit '編集', class: 'btn btn-light btn-block' %>
    <% end %>
  </div>
</div>
