
<div>
  　<h3 class="toppage-content"><%=@city.name %></h3>
</div>

<% if @count_restaurant == 0 %>

 <p>まだ登録されていません</p>
 
<% else %>
<h6><%=@count_restaurant %>件登録されています</h6>
<div class="restaurant-list">
  <%= render 'restaurants/restaurants',city: @city %>
</div>
<% end %>

<div class="row">
 <div class="col-sm-6">
  <%= link_to "市区町村選択に戻る",prefecture_path(@city.prefecture),class: "btn btn-light btn-block" %>
 </div>
 <div class="col-sm-6">
  <%= link_to "トップページに戻る",root_path,class: "btn btn-light  btn-block" %>
 </div>
</div>

