<div>
  <h4 class="toppage-content">ジャンル登録</h4>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
      
　  <%= form_with(model: @category, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, 'ジャンル名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <%= f.submit '登録', class: 'btn btn-light btn-block' %>
    <% end %>
  </div>
</div>

<div>
  <h4 class="toppage-content">ジャンル一覧</h4>
  <ul class="list-unstyled">
  
    <table border="1">
    <thead>
        <tr>
            <th>id</th>
            <th>ジャンル名</th>
            <th></th>
        </tr>
    </thead>
    <% @categories.each do |category| %>
    <tbody>
        <tr>
            <th><%=category.id%></th>
            <td><%=category.name%></td>
            <td>
              <%=link_to "編集",edit_category_path(category),class: 'btn btn-primary btn-sm'%>
              <%=link_to "削除",category,method: :delete,data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm'%>
            </td>
            
        </tr>
    </tbody>
    <% end %>
</table>
  
</ul>
</div>
